[GlobalSettings]

#Compressors: SZ2, SZ3, QOZ, ZFP, DR, BG, SZX
CompressorID = SZX


#CompressionMode: 6 options to control different types of error bounds
#ABS, REL, VR_REL, ABS_AND_REL, ABS_OR_REL, PSNR, NORM, FIX_RATE
CompressionMode = ABS

#Absolute Error Bound (NOTE: it's valid when CompressionMode is related to ABS (i.e., absolute error bound))
#absErrBound is to limit the (de)compression errors to be within an absolute error.
#For example, absErrBound=0.0001 means the decompressed value must be in [V-0.0001,V+0.0001], where V is the original true value.
AbsErrorBound = 0.001

#Relative Error Bound Ratio (NOTE: it's valid only when CompressionMode is related to REL (i.e., value_range based relative error bound))
#relErrBound is to limit the (de)compression errors by considering the global data value range size (i.e., taking into account the range size (max_value - min_value)).
#For example, suppose relBoundRatio is set to 0.01, and the data set is {100,101,102,103,104,...,110},
#so the global value range size is 110-100=10, so the error bound will actually be 10*0.01=0.1, from the perspective of "relBoundRatio"
RelErrorBound = 1e-6

Precision = 2

#expected Compression Ratio (Note: only valid when CompressionMode = FIX_RATE)
FixedCompressionRate = 0.6

[SECRESettings]

# whether to auto-optimize compression settings using SECRE surrogates
UseSECRE = 1
# metric to optimize with SECRE, one of {CR, PSNR, SSIM}
SECREMetric = PSNR
# target value for the given metric
SECRETarget = 120.0
# percent tolerance for early-stopping, will terminate optimization if we find a target value within tol% of the target
SECRETolerance = 0.01 # in [0.0, 1.0]





